@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');


a:link,
a:visited,
a:hover,
a:active {
  color: white;
  text-decoration: none;
}


body {
  margin: 0;
  background-color: #1b1b1b;
  font-family: 'Press Start 2P', cursive;
  color: white;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.qr-container {
  font-family: 'Press Start 2P', cursive;
  background-color: #1b1b1b;
  color: white;
  text-align: center;
  padding: 50px 20px;
}

.qr-card {
  display: inline-block;
  background-color: #222;
  border: 2px solid #aaa;
  padding: 20px;
  width: 440px;
  font-size: 11px; /* ⬅️ үлкейтілді */
  line-height: 1.8;
  box-shadow: 2px 2px 0px #000;
}

.qr-card h2 {
  font-size: 18px;
  color: #fff;
  margin-bottom: 16px;
}

.qr-card img {
  width: 290px;
  border: 4px solid #fff;
  margin-bottom: 10px;
}

.qr-plan {
  font-size: 11px; /* ⬅️ бұрын 8px еді */
  color: #ccc;
  margin-top: 12px;
  line-height: 1.6;
}

.qr-note {
  font-size: 11px; /* ⬅️ оқуға ыңғайлы */
  color: #bbb;
  margin-top: 12px;
  line-height: 1.6;
}

.back-link {
  background-color: #bbb200;
  border-radius: 4px;
  padding: 20px;
  margin-bottom: 48px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-direction: column;
  align-items: center; /* Көлденеңінен орталау */
  justify-content: center; /* Тігінен орталау */
}

.back-link:hover {
  color: #00ff99;
}
